@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

html,
body {
  font-family: "Lato", sans-serif;
}
.fruits {
  z-index: 10;
  position: absolute;
  left: 8%;
  bottom: -24%;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
}

.centered-content {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 12px; /* This is required to make flexbox work */
}

.meet {
  background: url("./images/team.png") rgba(18, 18, 18, 0.7);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-blend-mode: overlay;
  /* padding: 50px 100px; */
}

.social > i {
  color: #f85559;
  /* background-color: #fff; */
  border-radius: 60%;
  font-size: 24px;
}
